<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
     </div class="form-control">
    </div>
       
    <% if (user) { %>
      <div style="margin-right: 30px;">Logged in As: <%= user.email %></div>
      <form class="form-inline" action='logout' method="POST">
        <button type="submit" class="btn btn-outline-danger">Logout</button>
      </form>
    <% } else { %>
      <a class="btn btn-outline-primary" href="/login">Login</a>
      <a class="btn btn-outline-success" href="/register">Register</a>
      <% } %>
  </nav>
</header>